// $primaryOne: #525252;
// $primaryTwo: #313131;
// $accent: #db5059;

// $primaryOne: #faf5ef;
// $primaryTwo: #d7d1c9;
// $accent: #672f2f;

$primaryOne: #6e2142;
$primaryTwo: #943855;
$accent: #ffd692;

// $primaryOne: #232931;
// $primaryTwo: #232931;
// $accent: #4ecca3;
