// themeOne
$primaryOne: #39414b;
$primaryTwo: #1f2327;
$accent: #4ecca3;

// themeTwo
// $primaryOne: #525252;
// $primaryTwo: #313131;
// $accent: #db5059;

// themeThree
// $primaryOne: #faf5ef;
// $primaryTwo: #d7d1c9;
// $accent: #672f2f;

// themeFour
// $primaryOne: #6e2142;
// $primaryTwo: #943855;
// $accent: #ffd692;
